<th:block th:replace="frags :: head('Dettaglio pizza: ' + ${pizza.name})">
</th:block>
<body>
    <header>
        <h1 class="text-center text-yellow mb-3">Ecco a te, la pizza selezionata</h1>
    </header>
    <main>
        <div class="container-fluid">
            <div class="d-flex justify-content-center">
                <div
                th:insert="frags :: bsCard(${pizza})">
                               <a th:replace="frags :: buttonr('Torna indietro', @{/pizzas})"></a>  
         
                </div>
                
            </div>
        </div>
    </main> 
</body>
</html>

